<div id="<%= dom_id transport %>">
  <p>
    <strong>Name:</strong>
    <%= transport.name %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= transport.to_date %>
  </p>

  <p>
    <strong>Insurance date:</strong>
    <%= transport.insurance_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transport.description %>
  </p>

</div>
