<%= form_with(model: work) do |form| %>
  <% if work.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Название, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Мера, style: "display: block", class: "form-label" %>
    <%= form.text_field :dimension, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Цена_за_час, style: "display: block", class: "form-label" %>
    <%= form.text_field :hour_price, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Цена_за_единицу_меры, style: "display: block", class: "form-label" %>
    <%= form.text_field :accord_price, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Объем, style: "display: block", class: "form-label" %>
    <%= form.text_field :size, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Активен?, style: "display: block", class: "form-label" %>
    <%= form.check_box :flag %>
  </div>

  <div>
    <%= form.label :Заказчик, style: "display: block", class: "form-label" %>
    <%= form.select(:customer_id, Customer.all.collect {|p| [ p.name, p.id ] }) %>
  </div>

    <%= form.hidden_field :location_id, value: params[:location_id] %>
  <br>
  <br>
  <div>
    <%= form.submit "Готово", class: "btn btn-success" %>
  </div>
<% end %>
