<div id="<%= dom_id work %>">
  <p>
    <strong>Name:</strong>
    <%= work.name %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= work.dimension %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= work.size %>
  </p>

  <p>
    <strong>Flag:</strong>
    <%= work.flag %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= work.location_id %>
  </p>

</div>
