<div class="container kartochka">
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Название:</strong>
        <%= work.name %>
      </p>
      <p>
        <strong>Объем:</strong>
        <%= work.size %> <%= work.dimension %>
      </p>
      <p>
        <% if work.flag %>
        <strong class="text-success">Активен</strong>
        <% else %>
        <strong class="text-danger">Неактивен</strong>
        <% end %>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <strong>Объект:</strong>
        <%= work.location.name %>
      </p>
      <p>
        <strong>Заказчик:</strong>
        <%= work.customer.name %>
      </p>
      <p>
        <%= link_to "Подробнее", work_path(work), class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>