<div class="container kartochka">
  <div class="row">
    <div class="col-md-4">
      <p>
        <strong>Название:</strong>
        <%= work.name %>
      </p>
      <p>
        <strong>Объем:</strong>
        <%= work.size %> <%= work.dimension %>
      </p>
      <p>
        <% if work.flag %>
        <strong class="text-success">Активен</strong>
        <% else %>
        <strong class="text-danger">Неактивен</strong>
        <% end %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Объект:</strong>
        <%= work.location.name %>
      </p>
      <p>
        <strong>Заказчик:</strong>
        <%= work.customer.name %>
      </p>
      <p>
        <%= link_to "Выбрать", new_payment_path(source_type: "#{work.class.name}", source_id: "#{work.id}"), class: "btn btn-primary" %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <strong>Цена за час:</strong>
        <%= work.hour_price %>zl
      </p>
      <p>
        <strong>Цена за еденицу меры:</strong>
        <%= work.accord_price %>zl
      </p>
      <% if work.accord_price %>
      <p>
        <strong>Цена за весь объем:</strong>
        <%= work.size*work.accord_price %>zl
      </p>
      <% end %>
    </div>
  </div>
</div>
<br>