      <tr class="table-success">
      <th scope="row"><%= diary.id %></th>
      <td><%= diary.date %></td>
      <td><%= diary.worker.name %></td>
      <td><%= diary.work.location.name %> - <%= diary.work.name %></td>
      <td><%= diary.completed_work_size %> <%= diary.work.dimension %></td>
      <% if diary.hours %>
        <td><%= diary.hours %></td>
      <% else %>
        <td>Н/Д</td>
      <% end %>
      <td><%= link_to "Подробнее", diary_path(diary) %></td>
      </tr>
