<div id="<%= dom_id diary %>">
  <p>
    <strong>Worker:</strong>
    <%= diary.worker_id %>
  </p>

  <p>
    <strong>Work:</strong>
    <%= diary.work_id %>
  </p>

  <p>
    <strong>Completed work size:</strong>
    <%= diary.completed_work_size %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= diary.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= diary.description %>
  </p>

</div>
