      <tr class="table-success" name="row">
      <td name= "date" ><%= diary.date %></td>
      <td name= "worker"><%= diary.worker.name %></td>
      <td name= "work" ><%= diary.work.location.name %> - <%= diary.work.name %></td>
      <td name= "description"><%= diary.description %></td>
      <% if diary.hours %>
        <td><%= diary.hours %></td>
      <% else %>
        <td style="font-size: 0;">0</td>
      <% end %>
      <td><%= link_to "Подробнее", diary_path(diary) %></td>
      </tr>
