

<%= form_with(model: diary) do |form| %>
  <% if diary.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
        <% diary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Работник, style: "display: block", class: "form-label" %>
    <%= form.select(:worker_id, Worker.all.collect {|p| [ p.name, p.id ] }, {}, class: "form-control") %>
  </div>

  <div>
    <%= form.label :Работа, style: "display: block", class: "form-label" %>
    <%= form.select(:work_id, Work.all.collect {|p| [ "#{p.name} на объекте #{p.location.name}", p.id ] }, {}, class: "form-control") %>
  </div>

  <div>
    <%= form.label :Объем_выполненой_работы, style: "display: block", class: "form-label" %>
    <%= form.number_field :completed_work_size, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Отработано_часов, style: "display: block", class: "form-label" %>
    <%= form.number_field :hours, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Дата, style: "display: block", class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Комментарий, style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <br>
  <div>
    <%= form.submit "Готово", class: "btn btn-success" %>
  </div>
<% end %>
