<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav" style="align-items: flex-start;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/diaries" id="export_name">Дневник</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/diaries/new">Новая запись</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="export-btn">Экспорт в exel</a>
        </li> 
        <button class="bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="nav-link active">Фильтр ></span>
        </button>
      </ul>
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="container" style="margin-top: 10px;">
              <%= form_with url: "/diaries", method: :get do |form| %>
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <p style="color: white;">От:</p>
                    </div>
                    <div class="col-md-6">
                      <%= form.date_field "start_date" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <p style="color: white;">До:</p>
                    </div>
                    <div class="col-md-6">
                      <%= form.date_field "end_date" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <p style="color: white;">Объект:</p>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag "class", options_for_select(@locations.collect {|p| [ p['name'], p['name'] ] }) , prompt: "Выбрать объект", id: "class", name: "filter_location" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <p style="color: white;">Работа:</p>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag "class", options_for_select(@works.collect {|p| [ p['name'], p['name'] ] }) , prompt: "Выбрать работу", id: "class", name: "filter_work" %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <p style="color: white;">Работник:</p>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag "class", options_for_select(@workers.collect {|p| [ p['name'], p['name'] ] }) , prompt: "Выбрать работника", id: "class", name: "filter_worker" %>
                    </div>
                  </div>
                </div>
              <div class="container text-center">
                <%= form.submit "Применить фильтр", class: "btn btn-success" %>
              </div>
              <% end %>
            </div>
        </div> 
    </div>
  </div>
</nav>

<table class="table" id="table">
  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Работник</th>
      <th scope="col">Работа</th>
      <th scope="col" data-type="number">Выполненый объем</th>
      <th scope="col" data-type="number">Часы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody name="original-body">
    <% @diaries.each do |diary| %>
      <%= render diary %>
    <% end %>
  </tbody>
</table>

<script>      
  jQuery(document).ready(function() {
    
    $('#export-btn').on('click', function(e){
        e.preventDefault();
        ResultsToTable();
    });
    
    function ResultsToTable(){
        let date = new Date();
        let output = String(date.getDate()).padStart(2, '0') + '/' + String(date.getMonth() + 1).padStart(2, '0') + '/' + date.getFullYear();
        $("#table").table2excel({
            exclude: ".noExl",
            name: "Results",
            filename: `${document.getElementById('export_name').innerHTML}${output}`
        });
    }
  });

  $(document).ready(function() {
    const table = document.getElementById('table');
    const headers = table.querySelectorAll('th');
    const tableBody = table.querySelector('tbody');
    const rows = tableBody.querySelectorAll('tr');

    // Направление сортировки
    const directions = Array.from(headers).map(function(header) {
        return '';
    });

    // Преобразовать содержимое данной ячейки в заданном столбце
    const transform = function(index, content) {
        // Получить тип данных столбца
        const type = headers[index].getAttribute('data-type');
        switch (type) {
            case 'number':
                return parseInt(content);
            case 'string':
            default:
                return content;
        }
    };

    const sortColumn = function(index) {
        // Получить текущее направление
        const direction = directions[index] || 'asc';

        // Фактор по направлению
        const multiplier = (direction === 'asc') ? 1 : -1;

        const newRows = Array.from(rows);

        newRows.sort(function(rowA, rowB) {
            const cellA = rowA.querySelectorAll('td')[index].innerHTML;
            const cellB = rowB.querySelectorAll('td')[index].innerHTML;

            const a = transform(index, cellA);
            const b = transform(index, cellB);    

            switch (true) {
                case a > b: return 1 * multiplier;
                case a < b: return -1 * multiplier;
                case a === b: return 0;
            }
        });

        // Удалить старые строки
        [].forEach.call(rows, function(row) {
            tableBody.removeChild(row);
        });

        // Поменять направление
        directions[index] = direction === 'asc' ? 'desc' : 'asc';

        // Добавить новую строку
        newRows.forEach(function(newRow) {
            tableBody.appendChild(newRow);
        });
    };

    [].forEach.call(headers, function(header, index) {
        header.addEventListener('click', function() {
            sortColumn(index);
        });
    });
});
  </script>