<p style="color: green"><%= notice %></p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Работник</th>
      <th scope="col">Работа</th>
      <th scope="col">Выполненый объем</th>
      <th scope="col">Часы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
      <%= render @diary %>
  </tbody>
</table>

<strong>Комментарий к записи</strong>:<p><%= @diary.description %></p>

<div>
  <%= link_to "Edit this diary", edit_diary_path(@diary) %> |
  <%= link_to "Back to diaries", diaries_path %>

  <%= button_to "Destroy this diary", @diary, method: :delete %>
</div>
