<p style="color: green"><%= notice %></p>

<%= render @diary %>

<div>
  <%= link_to "Edit this diary", edit_diary_path(@diary) %> |
  <%= link_to "Back to diaries", diaries_path %>

  <%= button_to "Destroy this diary", @diary, method: :delete %>
</div>
