<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= customer.position %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= customer.company %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= customer.description %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
