<div id="<%= dom_id supply %>">
  <p>
    <strong>Supplier:</strong>
    <%= supply.supplier_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= supply.location_id %>
  </p>

  <p>
    <strong>Materials:</strong>
    <%= supply.materials %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= supply.description %>
  </p>

</div>
