<p style="color: green"><%= notice %></p>

<h1 class="text-center">Поставка от <%= @supply.supplier.name %></h1>

<div class="text-center">
  <%= link_to "Редактировать", edit_supply_path(supply: @supply, location_id: @supply.location.id), class: "btn btn-primary" %> &nbsp
  <%= link_to "Поставки", supplies_path, class: "btn btn-primary" %> &nbsp
  <%= link_to "Добавить платёж", new_payment_path(source_type: "#{@supply.class.name}", source_id: "#{@supply.id}"), class: "btn btn-success" %>
  <br>
  <br>
  <%= button_to "Удалить поставку", @supply, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: 'Точно?' } } %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Объект</th>
      <th scope="col">Поставщик</th>
      <th scope="col">Материалы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
      <%= render @supply %>
  </tbody>
  </table>

  <strong>Комментарий:</strong><p><%= @supply.description %></p>
  <strong>Материалы:</strong>
  <div id="materials">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Количество</th>
      <th scope="col">Мера</th>
    </tr>
  </thead>
  <tbody>
    <% @supply.materials.each_with_index do |material, i| %>
      <tr class="table-success">
        <th><%= i + 1 %></th>
        <td><%= material.name %></td>
        <td><%= material.count %></td>
        <td><%= material.dimension %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<% if @supply.payments.count != 0 %>
<h2 class="text-center">Платежи</h2>

<div id="payments">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Сумма</th>
      <th scope="col">Сущность</th>
      <th scope="col">Назначение</th>
      <th scope="col">Комментарий</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @supply.payments.each do |payment| %>
      <%= render payment %>
    <% end %>
  </tbody>
  </table>
</div>
<% end %>
