      <% if payment.size > 0 %>
        <tr class="table-success" name="row">
      <% else %>
        <tr class="table-danger" name="row">
      <% end %>
      <th scope="row"><%= payment.id %></th>
      <td name="date"><%= payment.date %></td>
      <td name="size"><%= payment.size %>zl</td>
      <% if payment.source %>
        <td name="class"><%= payment.source.class.name %></td>
      <% else %>
        <td name="class">Н/Д</td>
      <% end %>
      <td><%= link_to "Подробнее", payment_path(payment) %></td>
      </tr>
