<p style="color: green"><%= notice %></p>

<h1 class="text-center">Платежи</h1>
<div class="text-center">
<%= link_to "New payment", new_payment_path, class: "btn btn-success" %>
</div>

<br>

<h2 class="text-center">Фильтр</h2>
<div class="container text-center">
  <div class="row text-center">
    <div class="col-md-2">
      <%= select_tag "class", raw("<option>Worker</option><option>Customer</option><option>Supply</option><option>Transport</option><option>Instrument</option><option>Н/Д</option>") , prompt: "Выбрать категорию", id: "class" %>
    </div>
    <div class="col-md-3">
      <%= select_tag "class", raw("<option>Приход</option><option>Расход</option>") , prompt: "Выбрать тип платежа", id: "payment_type" %>
    </div>
    <div class="col-md-2">
      От: <%= date_field_tag "start_date" %>
    </div>
    <div class="col-md-2">
      До: <%= date_field_tag "end_date" %> 
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" onclick="filter_script()">Применить</button>  
    </div>
  </div>
</div>

<br>

<div id="payments">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Сумма</th>
      <th scope="col">Назначение</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <%= render payment %>
    <% end %>
  </tbody>
  </table>
</div>


<script type="text/javascript">
  function costil(str){
    const [year, month, day] = str.value.split('-');
    return new Date(year, month-1, day).getTime() / 1000;
  }

  function costil2(str){
    const [year, month, day] = str.innerHTML.split('-');
    return new Date(year, month-1, day).getTime() / 1000;
  }

  function filter_script() {
    var trs = document.querySelectorAll("tr[name=row]")
    var tds_date = document.querySelectorAll("td[name=date]");
    var tds_class = document.querySelectorAll("td[name=class]");
    console.log(tds_date);
    var start = document.getElementById("start_date");
    var stop = document.getElementById("end_date");
    var start_date = costil(start);
    var stop_date = costil(stop);
    console.log(start.value);
    if(start.value != "" && stop.value != "") {
    tds_date.forEach((elem) => {
      if(costil2(elem) < start_date || costil2(elem) > stop_date) {
        elem.parentElement.classList.add("not-show");
      }
    });
    };
    var opt_class = document.getElementById("class");
    console.log(opt_class);
    var payment_type = document.getElementById("payment_type");
    console.log(payment_type);

    tds_class.forEach((elem) => {
      if(elem.innerHTML != opt_class.value && opt_class.value != "") {
        elem.parentElement.classList.add("not-show");
      }
    });

      console.log(payment_type.value);

      if(payment_type.value == "Приход") {
        elems_for_not_show = document.querySelectorAll("tr[class=table-danger]");
        elems_for_not_show.forEach((elem) => {
          elem.classList.add("not-show");
        });
        console.log("123");
      };

      if(payment_type.value == "Расход") {
        elems_for_not_show = document.querySelectorAll("tr[class=table-success]");
        elems_for_not_show.forEach((elem) => {
          elem.classList.add("not-show");
        });
        console.log("1235");
      };
  };
</script>


