<% content_for :head do %>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WGL74FSPQE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WGL74FSPQE');
</script>

	<title>Usługi z zakresu elektryki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Nasza firma świadczy pełen zakres usług z zakresu elektryki we Wrocławiu i okolicach.">
	<meta property="og:title" content="Instalacje elektryczne Wrocław">
    <meta property="og:description" content="Instalacje elektryczne we Wrocławiu i okolicach. Profesjonalni elektrycy. 
	Odpowiedzialne podejście do pracy.">
    <meta property="og:image" content="<%= asset_path('send__block-pictures2.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "card", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "crown", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "customers", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "damage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "described", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "description", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "disclaimer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "how", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "jaw", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "questions", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "send", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "services", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "standart", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "statistics", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "null", "data-turbo-track": "reload" %>
    
	<%= favicon_link_tag asset_path('cropped-fav_electrc-32x32.png') %>

    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<% end %>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__row">
					<div class="header__logo">
						<%= image_tag('cropped-logo-logo-3.png', alt:'logo') %>
					</div>
					<div class="menu-btn">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="header__body">
						<div class="header__label raj">
							<ul class="header__list-1">
								<li class="header__element">
									<a href="/about_us">Informacje</a>
								</li>
								<li class="header__element">
									<a href="/services">Usługi Dodatkowe</a>
								</li>
							</ul>
							<ul class="header__list-2">
								<li class="header__element">
									<a href="https://www.facebook.com/profile.php?id=100087485990079" target="_blank">
										<%= image_tag('fb-24.png', alt:'fb') %>
									</a>
								</li>
								<li class="header__element">
									<a href="#">
										<%= image_tag('tw-24.png', alt:'tw') %>
									</a>
								</li>
								<li class="header__element">
									<a href="#">
										<%= image_tag('in-24.png', alt:'in') %>
									</a>
								</li>
								<li class="header__element">
									<a href="#">
										<%= image_tag('ut-24.png', alt:'ut') %>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu">
					<nav class="nav">
						<div class="nav__label">
							<div class="nav__logo">
								<%= image_tag('cropped-logo-logo-2.png', alt:'logo') %>
							</div>
							<div class="nav__cross">
								<span></span>
								<span></span>
							</div>
						</div>
						<ul>
							<li><a href="/users/sign_in" class="au">Autoryzacja</a></li>
							<li><a href="/">Główna</a></li>
							<li><a href="/about_us">O nas</a></li>
							<li><a href="/services">Usługi</a></li>
							<li><a href="/portfolio">Portfolio</a></li>
							<li><a href="/contacts">Skontaktuj</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="crown">
				<span class="crown__wallpaper"></span>
				<div class="container">
					<div class="crown__row raj">
						<div class="crown__picture">
							<%= image_tag('cropped-logo-logo-2.png', alt:'logo') %>
						</div>
						<div class="crown__body">
							<div class="crown__clock">
								<div class="crown__clock-picture">
									<%= image_tag('cl-40.png', alt:'tel') %>
								</div>
								<div class="crown__number-box">
									<li class="crown__number"><a href="tel:+48796128406">+48 796 128 406</a></li>
									<li class="crown__number"><a href="tel:+48795124042">+48 795 124 042</a></li>
								</div>
							</div>
							<hr class="crown__line">
							<div class="crown__locate">
								<div class="crown__locate-picture">
									<%= image_tag('loc-48.png', alt:'location') %>
								</div>
								<div class="crown__locate-box">
									<div class="crown__locate-title">Wrocław</div>
									<div class="crown__locate-subtitle">Ul. Ludwika Rydygiera 16/1, 50-249</div>
								</div>
							</div>
							<div class="crown__btn">
								<button class="btn-crown">
									<a href="/users/sign_in">Autoryzacja</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="jaw">
				<div class="container">
					<div class="jaw__row raj">
						<li><a href="/"><button class="jaw__btn">Główna</button></a></li>
						<li><a href="/about_us"><button class="jaw__btn active-btn">O nas</button></a></li>
						<li><a href="/services"><button class="jaw__btn">Usługi</button></a></li>
						<li><a href="/portfolio"><button class="jaw__btn">Portfolio</button></a></li>
						<li><a href="/contacts"><button class="jaw__btn">Skontaktuj</button></a></li>
					</div>
				</div>
			</div>
			<div class="about">
				<span class="about__wallpaper-1"></span>
				<div class="container">
					<div class="about__row raj">
						<div class="about__label">
							<h1 class="about__label">O NAS</h1>
							<hr class="about__line">
						</div>
					</div>
				</div>
			</div>
			<div class="description">
				<div class="container">
					<div class="description__row raj">
						<div class="description__box">
							<div class="description__item">
								<div class="description__pictures">
									<%= image_tag('description.webp', alt:'usuwanie usterek') %>
								</div>
							</div>
						</div>
						<div class="description__body">
							<p class="description__p1">
								Nasza firma świadczy pełen zakres usług z zakresu elektryki. Od układania kabli po pomiary elektryczne.
								Posiadamy kilka ekip elektryków wykonujących prace zarówno we Wrocławiu jak i w całej Polsce. Oferujemy
								się jako podwykonawcy dla dużych firm elektrycznych i deweloperskich.
							</p>
							<p class="description__p2">
								Wykonujemy prace związane z wykrywaniem i usuwaniem usterek w istniejących instalacjach elektrycznych.
							</p>
							<p class="description__p3">
								Wykonujemy instalacje elektryczne zarówno obiektów przemysłowych, biur, galerii, sklepów jak i zabudowy
								mieszkaniowej wielorodzinnej.
								<br>
								Realizujemy projekty domów prywatnych i mieszkań. Nasi specjaliści są gotowi do wykonania projektu
								ostrożnie, jakościowo, zgodnie z przepisami i w uzgodnionym terminie.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="statistics">
				<div class="container">
					<div class="statistics__row raj">
						<div class="statistics__label">
							<div class="statistics__title">
							<h2 class="statistics__title">STATYSTYKI USŁUG ELEKTRYCZNYCH</h2>
							</div>
							<div class="statistics__subtitle">Statystyki działalności firmy są stale i okresowo aktualizowane na
								stronie internetowej.</div>
							<hr class="statistics__line">
						</div>
						<div class="statistics__body">
							<div class="statistics__column">
								<div class="statistics__num">20</div>
								<div class="statistics__text">LATA <span>DOŚWIADCZENIA</span></div>
							</div>
							<div class="statistics__column">
								<div class="statistics__num">9</div>
								<div class="statistics__text">TECHNICY & <span>PRACOWNICY</span></div>
							</div>
							<div class="statistics__column">
								<div class="statistics__num">768</div>
								<div class="statistics__text">ZADOWOLENI <span>KLIENCI</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="services">
				<div class="container">
					<div class="services__row raj">
						<div class="services__column-1 sColumn-1">
							<div class="sColumn-1__title">Nasze Usługi</div>
							<div class="sColumn-1__subtitle">
							<h2 class="sColumn-1__subtitle">DLACZEGO JESTEŚMY JEDNĄ Z SZYBKO ROZWIJAJĄCYCH SIĘ FIRM ELEKTRYCZNYCH W POLSCE</h2>
							</div>
							<div class="sColumn-1__text">Nasza firma zatrudnia specjalistów z wykształceniem specjalistycznym, dużym
								doświadczeniem praktycznym i wszystkimi niezbędnymi uprawnieniami. Na wszystkich etapach pracy
								kierownictwo firmy kontroluje jakość wykonywanych prac. Wypracował swój charakterystyczny profesjonalny
								styl. Wszyscy nowi pracownicy są dokładnie sprawdzani pod kątem umiejętności zawodowych i przechodzą
								dodatkowe szkolenie w firmie.</div>
						</div>
						<div class="services__column-2">
							<div class="sColumn-2">
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Konserwacja</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Instalację elektryczne</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Naprawa urządzeń elektrycznych</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Serwis Zalecany Przez Producenta</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Instalacje fotowoltaiczne</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Klimatyzacja A / C Naprawa</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Wadliwe I Stare Okablowanie</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Montaż systemów telewizji przemysłowej
								</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Aktualizacje Paneli</li>
								<li class="sColumn-2__el"><span class="sColumn-2__wrench"></span>Systemy Bezpieczeństwa</li>
							</div>
							<div class="sColumn-3">
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Oświetlenie I Naprawa</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Projektowanie i modernizacje rozdzielni
								</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Projektowanie instalacji elektrycznych
								</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Instalacje niskoprądowe</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Instalacje alarmów przeciwpożarowych
								</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Instalacja inteligentnego domu</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Instalację odgromowe</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Instalacja uziemienia</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Montaż sieci komputerowych</li>
								<li class="sColumn-3__el"><span class="sColumn-3__wrench"></span>Konfiguracja routerów i sprzętu
									sieciowego</li>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="how">
				<div class="container">
					<div class="how__row raj">
						<div class="how__label">
							<div class="how__title">
							<h2 class="how__title">JAK TO DZIAŁA</h2>
							</div>
							<div class="how__subtitle">Nasi specjaliści zgodnie z dokumentacją projektową wykonują prace na obiektach
								o dowolnej złożoności.</div>
							<hr class="how__line">
						</div>
						<div class="how__body">
							<div class="how__rank galeryS">
								<div class="galeryS__column">
									<div class="galeryS__item">
										<div class="galeryS__pictures">
											<%= image_tag('galeryS-1.webp', alt:'Serwis Handlowy') %>
										</div>
										<div class="galeryS__text"><span>Serwis Handlowy</span></div>
									</div>
								</div>
								<div class="galeryS__column">
									<div class="galeryS__item">
										<div class="galeryS__pictures">
											<%= image_tag('article-2.webp', alt:'Projekt Mieszkaniowy') %>
										</div>
										<div class="galeryS__text"><span>Projekt Mieszkaniowy</span></div>
									</div>
								</div>
								<div class="galeryS__column">
									<div class="galeryS__item">
										<div class="galeryS__pictures">
											<%= image_tag('send-block-pictures3.webp', alt:'Instalacja Elektryczna') %>
										</div>
										<div class="galeryS__text"><span>Instalacja Elektryczna</span></div>
									</div>
								</div>
								<div class="galeryS__column">
									<div class="galeryS__item">
										<div class="galeryS__pictures">
											<%= image_tag('galeryS-4.webp', alt:'Serwis Przemysłowy') %>
										</div>
										<div class="galeryS__text"><span>Serwis Przemysłowy</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="how__rank galeryB">
					<div class="galeryB__column">
						<div class="galeryB__item">
							<div class="galeryB__pictures">
								<%= image_tag('send-block-pictures1.webp', alt:'elektrycy we Wrocławiu') %>
							</div>
						</div>
					</div>
					<div class="galeryB__column">
						<div class="galeryB__item">
							<div class="galeryB__pictures">
								<%= image_tag('poster.webp', alt:'pomiary') %>
							</div>
						</div>
					</div>
					<div class="galeryB__column">
						<div class="galeryB__item">
							<div class="galeryB__pictures">
								<%= image_tag('send-block-pictures2.webp', alt:'podwyconawcy we Wrocławiu') %>
							</div>
						</div>
					</div>
					<div class="galeryB__column">
						<div class="galeryB__item">
							<div class="galeryB__pictures">
								<%= image_tag('article-1.webp', alt:'Instalacje niskoprądowe') %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer" style="">
			<div class="container">
				<div class="footer__row raj">
					<div class="footer__column">
						<div class="footer__title">
							O Nas
							<span class="footer__line"></span>
						</div>
						<div class="footer__text">Firma elektryczna działająca we Wrocławiu i okolicach. Wyjeżdżamy w
							delegacje
							na terenie całej Polski.</div>
						<ul class="footer__list">
							<li class="footer__el">
								<a href="https://www.facebook.com/profile.php?id=100087485990079" target="_blank" class="footer__link">
									<span></span>
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="footer__column">
						<div class="footer__title">
							Szybkie Linki
							<span class="footer__line"></span>
						</div>
						<ul class="footer__list">
							<li class="footer__el"><a href="/" class="footer__link"><span class="footer__link-check"></span>Główna</a>
							</li>
							<li class="footer__el"><a href="/portfolio" class="footer__link"><span class="footer__link-check"></span>Portfolio</a>
							</li>
							<li class="footer__el"><a href="/about_us" class="footer__link"><span class="footer__link-check"></span>O nas</a>
							</li>
							<li class="footer__el"><a href="/contacts" class="footer__link"><span
										class="footer__link-check"></span>Skontaktuj</a></li>
							<li class="footer__el"><a href="/services" class="footer__link"><span class="footer__link-check"></span>Usługi</a>
							</li>
						</ul>
					</div>
					<div class="footer__column">
						<div class="footer__title">
							Skontaktuj
							<span class="footer__line"></span>
						</div>
						<ul class="footer__list">
							<li class="footer__el">
								<a href="/contacts" class="footer__link">
									<span><%= image_tag('loc-24.png', alt:'location') %></span>Ul. Ludwika Rydygiera 16/1, 50-249, Wrocław
								</a>
							</li>
							<li class="footer__el">
								<a href="tel:+48796128406" class="footer__link">
									<span><%= image_tag('tl-24.png', alt:'tel') %></span>+48 796 128 406; +48 795 124 042
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span><%= image_tag('en-24.png', alt:'mail') %></span>biuro@profistylegroup.com
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span><%= image_tag('sk-24.png', alt:'skype') %></span>profistylegroup
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div style="color: #fff;" class="text-center">Stworzone przez <a href="https://profistyle.group/" target="_blank" style="text-decoration: none; color: #fff;">profistyle.group ©</a></div>
		</footer>
	</div>
</body>