<% content_for :head do %>
	<title>Skontaktuj z nami w jakikolwiek sposób</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Skontaktuj się z nami w dowolny dogodny sposób">
	<meta property="og:title" content="Instalacje elektryczne Wrocław">
    <meta property="og:description" content="Instalacje elektryczne we Wrocławiu i okolicach. Profesjonalni elektrycy. 
	Odpowiedzialne podejście do pracy.">
    <meta property="og:image" content="<%= asset_path('send__block-pictures2.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "card", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "crown", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "customers", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "damage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "described", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "description", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "disclaimer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "how", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "jaw", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "questions", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "send", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "services", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "standart", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "statistics", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "null", "data-turbo-track": "reload" %>
    

    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<% end %>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__row">
					<div class="header__logo">
						<%= image_tag('cropped-logo-logo-3.png', alt:'logo') %>
					</div>
					<div class="menu-btn">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="header__body">
						<div class="header__label raj">
							<ul class="header__list-1">
								<li class="header__element">
									<a href="/about">Informacje</a>
								</li>
								<li class="header__element">
									<a href="/services">Usługi Dodatkowe</a>
								</li>
							</ul>
							<ul class="header__list-2">
								<li class="header__element">
									<a href="#">
										<%= image_tag('fb-24.png', alt:'fb') %>
									</a>
								</li>
								<li class="header__element">
									<a href="#">
										<%= image_tag('tw-24.png', alt:'tw') %>
									</a>
								</li>
								<li class="header__element">
									<a href="#">
										<%= image_tag('in-24.png', alt:'in') %>
									</a>
								</li>
								<li class="header__element">
									<a href="#">
										<%= image_tag('ut-24.png', alt:'ut') %>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu">
					<nav class="nav">
						<div class="nav__label">
							<div class="nav__logo">
								<%= image_tag('cropped-logo-logo-2.png', alt:'logo') %>
							</div>
							<div class="nav__cross">
								<span></span>
								<span></span>
							</div>
						</div>
						<ul>
							<li><a href="/users/sign_in" class="au">Autoryzacja</a></li>
							<li><a href="/">Główna</a></li>
							<li><a href="/about_us">O nas</a></li>
							<li><a href="/services">Usługi</a></li>
							<li><a href="/portfolio">Portfolio</a></li>
							<li><a href="/contacts">Skontaktuj</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="crown">
				<span class="crown__wallpaper"></span>
				<div class="container">
					<div class="crown__row raj">
						<div class="crown__picture">
							<%= image_tag('cropped-logo-logo-2.png', alt:'logo') %>
						</div>
						<div class="crown__body">
							<div class="crown__clock">
								<div class="crown__clock-picture">
									<%= image_tag('cl-40.png', alt:'clock') %>
								</div>
								<div class="crown__number-box">
									<li class="crown__number"><a href="tel:+48796128406">+48 796 128 406</a></li>
									<li class="crown__number"><a href="tel:+48795124042">+48 795 124 042</a></li>
								</div>
							</div>
							<hr class="crown__line">
							<div class="crown__locate">
								<div class="crown__locate-picture">
									<%= image_tag('loc-48.png', alt:'location') %>
								</div>
								<div class="crown__locate-box">
									<div class="crown__locate-title">Wrocław</div>
									<div class="crown__locate-subtitle">Ul. Ludwika Rydygiera 16/1, 50-249</div>
								</div>
							</div>
							<div class="crown__btn">
								<button class="btn-crown">
									<a href="/users/sign_in">Autoryzacja</a>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="jaw">
				<div class="container">
					<div class="jaw__row raj">
						<li><a href="/"><button class="jaw__btn">Główna</button></a></li>
						<li><a href="/about_us"><button class="jaw__btn">O nas</button></a></li>
						<li><a href="/services"><button class="jaw__btn">Usługi</button></a></li>
						<li><a href="/portfolio"><button class="jaw__btn">Portfolio</button></a></li>
						<li><a href="/contacts"><button class="jaw__btn  active-btn">Skontaktuj</button></a></li>
					</div>
				</div>
			</div>
			<div class="about">
				<span class="about__wallpaper-1"></span>
				<div class="container">
					<div class="about__row raj">
						<div class="about__label">
							<h1 class="about__label">SKONTAKTUJ</h1>
							<hr class="about__line">
						</div>
					</div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<div class="contact__row raj">
						<div class="contact__label">
							<div class="contact__title"><h2 class="contact__title">Jak się z nami skontaktować</h2></div>
							<div class="contact__subtitle">Możesz się z nami skontaktować w dni powszednie od 08-00 do 17-00.</div>
							<div class="contact__number">
								<div class="contact__phoneIco"><%= image_tag('tl-24.png', alt:'tel') %></div>
								<div class="contact__phone"><a href="tel:+48796128406" style="color: #fea12a; text-decoration: none;">+48 796 128 406;</a> <a href="tel:+48795124042" style="color: #fea12a; text-decoration: none;">+48 795 124 042</a></div>
							</div>
							<div class="contact__rank">
								<div class="contact__column">
									<div class="contact__item">
										<div class="contact__ico"><%= image_tag('loc-48.png', alt:'adress') %></div>
										<div class="contact__name">ADDRESS</div>
										<div class="contact__text">Ul. Ludwika Rydygiera 16/1, 50-249</div>
									</div>
								</div>
								<div class="contact__column">
									<div class="contact__item">
										<div class="contact__ico"><%= image_tag('en-48.png', alt:'mail') %></div>
										<div class="contact__name">CONTACT</div>
										<div class="contact__text">biuro@profistylegroup.com</div>
									</div>
								</div>
							</div>
						</div>
						<div class="contact__form">
							<%= form_with url: "/contacts_form_send", class: "formContact" do |form| %>
								<div class="formContact__row">
									<div class="formContact__title"></div>
									<label for="username" class="formContact__label">Name <span>*</span></label>
									<div class="formContact__input-box">
										<%= form.text_field :name, class: "formContact__input" %>
									</div>
									<label for="mail" class="formContact__label">Email <span>*</span></label>
									<div class="formContact__input-box">
										<%= form.text_field :email, class: "formContact__input" %>
									</div>
									<label for="text" class="formContact__label">Commment or Message <span>*</span></label>
									<%= form.text_area :message, class: "formContact__textarea", rows: 10 %>
									<div class="formContact__btn-box">
										<%= form.submit "Wysłać", class: "formContact__btn" %>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<div class="card__row">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.4527232934165!2d17.031335115961564!3d51.1185568468794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9ddeb36c739%3A0x4ec13f63aa25c2e!2zUnlkeWdpZXJhIDE2LCA1MC0yNTAgV3JvY8WCYXcsINCf0L7Qu9GM0YjQsA!5e0!3m2!1sru!2sua!4v1659612499366!5m2!1sru!2sua"
							style="border:0;" allowfullscreen="" loading="lazy" class="map"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="container">
				<div class="footer__row raj">
					<div class="footer__column">
						<div class="footer__title">
							O Nas
							<span class="footer__line"></span>
						</div>
						<div class="footer__text">Firma elektryczna działająca we Wrocławiu i okolicach. Wyjeżdżamy w
							delegacje
							na terenie całej Polski.</div>
						<ul class="footer__list">
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="footer__column">
						<div class="footer__title">
							Szybkie Linki
							<span class="footer__line"></span>
						</div>
						<ul class="footer__list">
							<li class="footer__el"><a href="/" class="footer__link"><span class="footer__link-check"></span>Główna</a>
							</li>
							<li class="footer__el"><a href="/portfolio" class="footer__link"><span class="footer__link-check"></span>Portfolio</a>
							</li>
							<li class="footer__el"><a href="/about_us" class="footer__link"><span class="footer__link-check"></span>O nas</a>
							</li>
							<li class="footer__el"><a href="/contacts" class="footer__link"><span
										class="footer__link-check"></span>Skontaktuj</a></li>
							<li class="footer__el"><a href="/services" class="footer__link"><span class="footer__link-check"></span>Usługi</a>
							</li>
						</ul>
					</div>
					<div class="footer__column">
						<div class="footer__title">
							Skontaktuj
							<span class="footer__line"></span>
						</div>
						<ul class="footer__list">
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span><%= image_tag('loc-24.png', alt:'location') %></span>Ul. Ludwika Rydygiera 16/1, 50-249, Wrocław
								</a>
							</li>
							<li class="footer__el">
								<a href="tel:+48796128406" class="footer__link">
									<span><%= image_tag('tl-24.png', alt:'tel') %></span>+48 796 128 406; +48 795 124 042
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span><%= image_tag('en-24.png', alt:'mail') %></span>biuro@profistylegroup.com
								</a>
							</li>
							<li class="footer__el">
								<a href="#" class="footer__link">
									<span><%= image_tag('sk-24.png', alt:'skype') %></span>profistylegroup
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</body>