<% content_for :head do %>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WGL74FSPQE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WGL74FSPQE');
</script>

	<title>Instalacje elektryczne we Wrocławiu i okolicach</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Montaż instalacji odgromowych.">
	<meta property="og:title" content="Montaż instalacji odgromowych.">
    <meta property="og:description" content="Montaż instalacji odgromowych.">
    <meta property="og:image" content="<%= asset_path('send__block-pictures2.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "card", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "crown", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "customers", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "damage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "described", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "description", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "disclaimer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "how", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "jaw", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "questions", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "send", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "services", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "standart", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "statistics", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "null", "data-turbo-track": "reload" %>
    
	<%= favicon_link_tag asset_path('cropped-fav_electrc-32x32.png') %>

    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<% end %>

<div class="container mt-5">
    <h1 class="h1 text-center mb-5">Montaż instalacji odgromowych.</h1>
    <h2 class="h1">Ochrona przed burzą: metody instalacji i skuteczność</h2>
    <p style="font-size: 20px;">Burze z piorunami to nieprzewidywalne i potężne zjawiska naturalne, które mogą powodować znaczne uszkodzenia budynków, urządzeń elektronicznych, a nawet ludzkiego życia. Dlatego ważne jest, aby podjąć środki ochrony odgromowej w celu zminimalizowania ryzyka i zapewnienia bezpieczeństwa sobie i swojej własności. W tym artykule przyjrzymy się metodom instalacji odgromowej i ich skuteczności.</p>

    <h2 class="h1">Główne elementy ochrony odgromowej budynku</h2>
    <p style="font-size: 20px;">Ochrona odgromowa składa się z kilku kluczowych elementów: piorunochronów, uziemień i urządzeń ochronnych. Piorunochrony mają za zadanie przyciągać pioruny i kierować ich energię w bezpieczne miejsce, a uziemienie pozwala skierować tę energię do ziemi. Urządzenia ochronne, takie jak ograniczniki, służą do kontrolowania i ograniczania prądu przepływającego przez instalację odgromową.</p>

    <div class="row">

        <div class="col">
            <h2 class="h1">Metody montażu instalacji odgromowej</h2>
            <p style="font-size: 20px;">Jedną z najczęstszych metod instalowania ochrony odgromowej jest montaż piorunochronów na budynkach i konstrukcjach. Piorunochrony to z reguły metalowe pręty lub druty instalowane w wysokich punktach budynku, takich jak dach lub maszty. Muszą być wystarczająco wysokie i dobrze uziemione, aby przyciągać pioruny i zapobiegać przedostawaniu się ich do budynku.
            Kolejnym ważnym aspektem ochrony odgromowej jest uziemienie. Uziemienie odgrywa decydującą rolę w odprowadzaniu energii piorunowej do ziemi, a jego prawidłowe wykonanie jest niezbędne do skutecznego działania instalacji odgromowej. Przewód uziemiający musi być odpowiednio gruby i wykonany z materiału o dobrej przewodności elektrycznej. Należy go wkopać w ziemię na odpowiednią głębokość i podłączyć do elektrody uziemiającej, aby zapewnić niską rezystancję uziemienia.</p>
        </div>

        <div class="col text-center">
            <%= image_tag "odgromowka1.jpg", style: "width: 50%; height: 100%;" %>
        </div>
    </div>    

    <h2 class="h1">Dodatkowe środki ochrony odgromowej</h2>
    <p style="font-size: 20px;">Bezpośrednie uderzenie pioruna w budynek powoduje szereg szczególnie niebezpiecznych zdarzeń: fizyczne zniszczenie elementów budynku, pożar, porażenie prądem elektrycznym osób przebywających w budynku itp. Ochrona odgromowa spełnia funkcję przechwytywania bezpośredniego uderzenia pioruna i kierowania go przez piorunochron do systemu uziemienia. Ochrona odgromowa pełni funkcję przechwytywania bezpośredniego uderzenia pioruna i kierowania go przez piorunochron do systemu uziemienia. Chroni to mieszkańców i konstrukcję budynku, ale nie chroni urządzeń elektrycznych. Wymagane są dodatkowe środki, takie jak zastosowanie ograniczników. Ograniczniki są urządzeniami, które mogą kontrolować i ograniczać prąd spowodowany uderzeniem pioruna w system ochrony odgromowej lub kabel elektryczny wchodzący do budynku. Powinny być instalowane w panelach elektrycznych, liniach telefonicznych, przepustach kablowych i innych krytycznych systemach, aby zapobiec uszkodzeniu urządzeń elektrycznych przez nadmiar prądu. Dzięki zastosowaniu nowoczesnych ograniczników przepięć można zbudować trójpoziomowy system ochrony przeciwprzepięciowej, który w znacznym stopniu wygasi przepięcie w sieci elektrycznej budynku.</p>

    <div class="container text-center">
        <%= image_tag "odgromowka2.jpg", style: "width: 60%; height: 60%; margin: 40px;" %>
    </div>
    <h2 class="h1">Projektowanie ochrony odgromowej budynku</h2>
    <p style="font-size: 20px;" class="mb-5">Rozważając instalację systemu ochrony odgromowej, należy wziąć pod uwagę nie tylko rozmiar i kształt budynku, ale także jego otoczenie. Budynki zlokalizowane na otwartych przestrzeniach, na wzgórzach lub w pobliżu wody mogą być bardziej podatne na uderzenia piorunów i wymagać bardziej zaawansowanych systemów ochrony odgromowej. Konsultacje ze specjalistami w dziedzinie ochrony odgromowej są istotną częścią procesu projektowania i instalacji systemu. Świadczymy pełen zakres usług ochrony odgromowej budynków, od opracowania projektu po montaż piorunochronów, modernizację rozdzielnic elektrycznych i pomiary kontrolne.
Należy jednak pamiętać, że system ochrony odgromowej nie zapewnia absolutnej gwarancji bezpieczeństwa przed wyładowaniami atmosferycznymi. Zmniejsza ryzyko uszkodzenia i pomaga chronić budynek i jego mieszkańców, ale całkowita ochrona nie jest możliwa. Dlatego ważne jest również, aby zachować środki ostrożności podczas burzy, unikać otwartych przestrzeni i trzymać się z dala od metalowych przedmiotów lub przewodów.
Podsumowując, ochrona odgromowa jest ważnym aspektem zapewnienia bezpieczeństwa budynków i życia ludzi. Prawidłowo zaprojektowany i zainstalowany system ochrony odgromowej z piorunochronami, uziemieniem i ogranicznikami może znacznie zmniejszyć ryzyko porażenia piorunem. Jednak, aby zapewnić jego skuteczność, musi on być zainstalowany i konserwowany przez profesjonalistów. Ostatecznie najlepszym sposobem na zapewnienie bezpieczeństwa jest połączenie ochrony odgromowej i zachowanie środków ostrożności podczas burzy.</p>

</div>