<% content_for :head do %>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WGL74FSPQE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WGL74FSPQE');
</script>

	<title>Portfolio instalacj elektrycznych</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Katalog naszych prac">
	<meta property="og:title" content="Instalacje elektryczne Wrocław">
    <meta property="og:description" content="Instalacje elektryczne we Wrocławiu i okolicach. Profesjonalni elektrycy. 
	Odpowiedzialne podejście do pracy.">
    <meta property="og:image" content="<%= asset_path('send__block-pictures2.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "card", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "crown", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "customers", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "damage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "described", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "description", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "disclaimer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "how", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "jaw", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "questions", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "send", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "services", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "standart", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "statistics", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "null", "data-turbo-track": "reload" %>
    
	<%= favicon_link_tag asset_path('cropped-fav_electrc-32x32.png') %>

    <%= javascript_include_tag "application", "data-turbo-track": "false", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<% end %>

<body>
	<div class="wrapper">
			<div class="text-center zago" style="margin-bottom: 20px;">
				<h1 class="standart__title">CO ZROBILIŚMY</h1>
			</div>
			
			<div class="container text-center">
				<div style="display: inline-block; margin-left: auto; margin-right: auto;" id="gallery">
				<% @gallery.images.each do |image| %>
					<%= image_tag(image.url, class: "portfolio_img", alt: "#{image.alt}") %>
				<% end %>
				</div>
			</div>
		</main>
	</div>

	<script>
		$(document).ready(function() {
			gallery = document.getElementById('gallery');
			
			for(var k = 0; k < gallery.childNodes.length; k++){
				if(gallery.childNodes[k].nodeName != "IMG"){
					gallery.removeChild(gallery.childNodes[k]);
				}
			}

			for(var i = 0; i < gallery.childNodes.length; i++){
				for(var j = 0; j < gallery.childNodes.length; j++){
					if(gallery.childNodes[i].offsetHeight > gallery.childNodes[j].offsetHeight){
						gallery.insertBefore(gallery.childNodes[i], gallery.childNodes[j]);
					}
				}	
			}
    	});
	</script>

	<script>
		window.onload = function() {
    		if(!window.location.hash) {
        		window.location = window.location + '#loaded';
        		window.location.reload();
    		}
		}
	</script>

	<style>
		.portfolio_img{
			width: 450px;
			height: auto;
			display: inline-block;
        	margin: 1%;
		}

		.zago{
			margin-top: 20px;
		}

		@media (max-width: 800px) {
			.portfolio_img{
			width: 300px;
			height: auto;
			display: inline-block;
        	margin: 1%;
		}

		.zago{
			margin-top: 100px;
		}
    	}

   		@media (max-width: 400px) {
			.portfolio_img{
			width: 300px;
			height: auto;
			display: inline-block;
        	margin: 1%;
		}
		.zago{
			margin-top: 100px;
		}
		}
		</style>

	<script type="text/javascript">
		$(document).ready(function () {
		$('.slider').slick({
		adaptiveHeight: true,
		slidesToShow: 1,
		infinite: true,
		centerMode:false,
		variableWidth:false,
		
		});
		});
	</script>
</body>