<p style="color: green"><%= notice %></p>

<%= render @worker %>

<br>
<div class="container text-center">
  <%= link_to "Редактировать", edit_worker_path(@worker), class: "btn btn-primary" %> 
  <%= link_to "Список работников", workers_path, class: "btn btn-primary" %> 
  <%= link_to "Добавить платёж", new_payment_path(source_type: "#{@worker.class.name}", source_id: "#{@worker.id}"), class: "btn btn-success" %>
  <br>
  <br>
  <%= button_to "Удалить", @worker, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: 'Точно?' } } %>
</div>

<% if @worker.payments.count != 0 %>
<h2 class="text-center">Платежи</h2>

<div id="payments">
  <table class="table" id="table">
  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Сумма</th>
      <th scope="col">Сущность</th>
      <th scope="col">Назначение</th>
      <th scope="col">Комментарий</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @worker.payments.each do |payment| %>
      <%= render payment %>
    <% end %>
  </tbody>
  </table>
</div>
<% end %>

<br>



<% if @worker.diaries.count != 0 %>
<h2 class="text-center">Дневник работника</h2>

<div>
<table class="table" id="table2">
  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Работник</th>
      <th scope="col">Работа</th>
      <th scope="col">Выполненый объем</th>
      <th scope="col">Часы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @worker.diaries.each do |diary| %>
      <%= render diary %>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<script>
$(document).ready(function() {
    const table = document.getElementById('table');
    const headers = table.querySelectorAll('th');
    const tableBody = table.querySelector('tbody');
    const rows = tableBody.querySelectorAll('tr');

    // Направление сортировки
    const directions = Array.from(headers).map(function(header) {
        return '';
    });

    // Преобразовать содержимое данной ячейки в заданном столбце
    const transform = function(index, content) {
        // Получить тип данных столбца
        const type = headers[index].getAttribute('data-type');
        switch (type) {
            case 'number':
                return parseFloat(content);
            case 'string':
            default:
                return content;
        }
    };

    const sortColumn = function(index) {
        // Получить текущее направление
        const direction = directions[index] || 'asc';

        // Фактор по направлению
        const multiplier = (direction === 'asc') ? 1 : -1;

        const newRows = Array.from(rows);

        newRows.sort(function(rowA, rowB) {
            const cellA = rowA.querySelectorAll('td')[index].innerHTML;
            const cellB = rowB.querySelectorAll('td')[index].innerHTML;

            const a = transform(index, cellA);
            const b = transform(index, cellB);    

            switch (true) {
                case a > b: return 1 * multiplier;
                case a < b: return -1 * multiplier;
                case a === b: return 0;
            }
        });

        // Удалить старые строки
        [].forEach.call(rows, function(row) {
            tableBody.removeChild(row);
        });

        // Поменять направление
        directions[index] = direction === 'asc' ? 'desc' : 'asc';

        // Добавить новую строку
        newRows.forEach(function(newRow) {
            tableBody.appendChild(newRow);
        });
    };

    [].forEach.call(headers, function(header, index) {
        header.addEventListener('click', function() {
            sortColumn(index);
        });
    });
});
</script>

<script>
$(document).ready(function() {
    const table = document.getElementById('table2');
    const headers = table.querySelectorAll('th');
    const tableBody = table.querySelector('tbody');
    const rows = tableBody.querySelectorAll('tr');

    // Направление сортировки
    const directions = Array.from(headers).map(function(header) {
        return '';
    });

    // Преобразовать содержимое данной ячейки в заданном столбце
    const transform = function(index, content) {
        // Получить тип данных столбца
        const type = headers[index].getAttribute('data-type');
        switch (type) {
            case 'number':
                return parseFloat(content);
            case 'string':
            default:
                return content;
        }
    };

    const sortColumn = function(index) {
        // Получить текущее направление
        const direction = directions[index] || 'asc';

        // Фактор по направлению
        const multiplier = (direction === 'asc') ? 1 : -1;

        const newRows = Array.from(rows);

        newRows.sort(function(rowA, rowB) {
            const cellA = rowA.querySelectorAll('td')[index].innerHTML;
            const cellB = rowB.querySelectorAll('td')[index].innerHTML;

            const a = transform(index, cellA);
            const b = transform(index, cellB);    

            switch (true) {
                case a > b: return 1 * multiplier;
                case a < b: return -1 * multiplier;
                case a === b: return 0;
            }
        });

        // Удалить старые строки
        [].forEach.call(rows, function(row) {
            tableBody.removeChild(row);
        });

        // Поменять направление
        directions[index] = direction === 'asc' ? 'desc' : 'asc';

        // Добавить новую строку
        newRows.forEach(function(newRow) {
            tableBody.appendChild(newRow);
        });
    };

    [].forEach.call(headers, function(header, index) {
        header.addEventListener('click', function() {
            sortColumn(index);
        });
    });
});
</script>