<p style="color: green"><%= notice %></p>

<%= render @worker %>

<div>
  <%= link_to "Edit this worker", edit_worker_path(@worker) %> |
  <%= link_to "Back to workers", workers_path %> |
  <%= link_to "Добавить платёж", new_payment_path(source_type: "#{@worker.class.name}", source_id: "#{@worker.id}") %>

  <%= button_to "Destroy this worker", @worker, method: :delete %>
</div>

<h2 class="text-center">Платежи</h2>

<div id="payments">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Сумма</th>
      <th scope="col">Назначение</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @worker.payments.each do |payment| %>
      <%= render payment %>
    <% end %>
  </tbody>
  </table>
</div>

<br>

<h2 class="text-center">Дневник работника</h2>

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Работник</th>
      <th scope="col">Работа</th>
      <th scope="col">Выполненый объем</th>
      <th scope="col">Часы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @worker.diaries.each do |diary| %>
      <%= render diary %>
    <% end %>
  </tbody>
</table>
</div>
