<div class="container">
	<h1 class="text-center">Редактирование галереи <%= @gallery.name %></h1>

	<%= form_with(model: @gallery) do |form| %>
	<br>
		<%= form.label :Имя, class: "form-label" %>
		<%= form.text_field :name, class: "form.control" %>
		<br>
		<br>
		<%= form.submit "Готово", class: "btn btn-success" %>
	<% end %>
</div>