<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= material.count %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= material.dimension %>
  </p>

  <p>
    <strong>Supply:</strong>
    <%= material.supply_id %>
  </p>

</div>
