<p style="color: green"><%= notice %></p>

<%= render @material %>

<div>
  <%= link_to "Edit this material", edit_material_path(@material) %> |
  <%= link_to "Back to materials", materials_path %>

  <%= button_to "Destroy this material", @material, method: :delete %>
</div>
