<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= supplier.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= supplier.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= supplier.description %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= supplier.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= supplier.position %>
  </p>

</div>
