<%= form_with(model: instrument) do |form| %>
  <% if instrument.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
        <% instrument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Название, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Описание, style: "display: block", class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :Объект, style: "display: block", class: "form-label" %>
    <%= form.select(:location_id, Location.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
  <br>
  <div>
    <%= form.submit "Готово", class: "btn btn-success" %>
  </div>
<% end %>
