<tr class="table-success">
    
    <% if instrument.galleries.count > 0 %>
      <% if instrument.galleries.first.images %>
        <% if instrument.galleries.first.images.first.thumb %>
          <% instrument.galleries.first.images.first.recreate_versions! %>
        <% end %>
        <td><%= image_tag(instrument.galleries.first.images.first.thumb.url, class: "embed") %></td>
      <% else %>
        <td></td>
      <% end %>
    <% else %>
      <td></td>
    <% end %>

    <td><%= instrument.name %></td>
    <td><%= instrument.description %></td>
    <td><%= instrument.location.name %></td>
    <td><%= link_to("Подробнее", instrument_path(instrument)) %></td>
</tr>