<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= location.adress %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <p>
    <strong>Flag:</strong>
    <%= location.flag %>
  </p>

  <p>
    <strong>Photos url:</strong>
    <%= location.photos_url %>
  </p>

</div>
