<p style="color: green"><%= notice %></p>

<h2 class="text-center">Информация по объекту</h2>

<div class="text-center">
  <%= link_to "Редактировать", edit_location_path(@location), class: "btn btn-primary" %> 
  <%= link_to "Объекты", locations_path, class: "btn btn-primary" %> 
  <%= link_to "Добавить работу", new_work_path(location_id: @location.id), class: "btn btn-success" %> 
  <%= link_to "Добавить поставку материалов", new_supply_path(location_id: @location.id), class: "btn btn-success" %>
  <%= link_to "Добавить галерею", new_gallery_path(galleryable_type: @location.class.name, galleryable_id: @location.id), class: "btn btn-success" %> 
  <%= link_to "Добавить заметку", new_notice_path(location_id: @location.id), class: "btn btn-success" %> 
</div>

<br>

<%= render @location %>
<br>

<% if @location.notices.count != 0 %>
  <% @location.notices.each do |notice| %>
    <div class="alert alert-info" role="alert">
      <%= sanitize notice.text.gsub(/\n/, '<br/>') %>
      <br>
      <br>
      <%= button_to "Удалить", notice, method: :delete, class: "btn btn-danger", onclick: "return confirm('Точно?')" %>
    </div>
    <br>
  <% end %>
<% end %>

<% if @location.works.count != 0 %>
<h2 class="text-center">Работы</h2>

<% @location.works.each do |work| %>
  <%= render work %>
  <br>
<% end %>
<% end %>

<% if @location.instruments.count != 0 %>
  <h1 class="text-center">Инструменты</h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Название</th>
      <th scope="col">Описание</th>
      <th scope="col">Объект</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @location.instruments.each do |instrument| %>
    <%= render instrument %>
  <% end %>
  </tbody>
  </table>
<% end %>

<% if @location.supplies.count != 0 %>
<h2 class="text-center">Поставки</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Объект</th>
      <th scope="col">Поставщик</th>
      <th scope="col">Материалы</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
<% @location.supplies.each do |supply| %>
  <%= render supply %>
<% end %>
  </tbody>
  </table>
<% end %>

<h2 class="text-center">Платежи</h2>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Сумма</th>
      <th scope="col">Сущность</th>
      <th scope="col">Назначение</th>
      <th scope="col">Комментарий</th>
      <th scope="col">...</th>
    </tr>
  </thead>
  <tbody>
    <% @location.works.each do |work| %>
      <% work.payments.each do |payment| %>
        <%= render payment %>
      <% end %>
    <% end %>
    <% @location.supplies.each do |supply| %>
      <% supply.payments.each do |payment| %>
        <%= render payment %>
      <% end %>
    <% end %>
  </tbody>
  </table>

  <h2 class="text-center">Галереи</h2>
  <% @location.galleries.each do |gallery| %>
    <h2><%= link_to "#{gallery.name}", gallery_path(gallery) %></h2>
  <% end %>


<div class="text-center">
  <br>
  <br>
  <%= button_to "Удалить объект", @location, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: 'Точно?' } } %>
  <br>
</div>
