<p style="color: green"><%= notice %></p>

<%= render @location %>
<br>

<% @location.works.each do |work| %>
  <%= render work %>
  <br>
<% end %>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %> |
  <%= link_to "Add work", new_work_path(location_id: @location.id) %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
