<!DOCTYPE html>
<html>
  <head>
    <title>Firma1c</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Бухгалтерия
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/payments">Касса</a></li>
            <li><a class="dropdown-item" href="/capital">Капитал</a></li>
            <li><a class="dropdown-item" href="/diaries">Дневник</a></li>
            <li><a class="dropdown-item" href="/supplies">Поставки</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Сущности
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/locations">Объекты</a></li>
            <li><a class="dropdown-item" href="/instruments">Инстурменты</a></li>
            <li><a class="dropdown-item" href="/transports">Транспорт</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Люди
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/workers">Работники</a></li>
            <li><a class="dropdown-item" href="/customers">Закзачики</a></li>
            <li><a class="dropdown-item" href="/suppliers">Поставщики</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logs">Логи</a>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><%= current_user.email %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/sign_out">Выйти из системы</a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link active" %>

          </li>
        <% end %>



      </ul>
    </div>
  </div>
</nav>

  <body>
    <%= yield %>
  </body>
</html>

<style type="text/css">
  .kartochka {
    border: 2px;
    border-radius: 12px;
    padding: 5px;
    background-color: #d1e7dd;
  }

  .not-show{
    border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
  }

  .image {
    float: left;
    height: 200px;
    width: 300px;
    margin: 1%;
    display: block;
    
  }

  .embed {
    height: 70px;
    width: 70px;
  }
</style>

