<!DOCTYPE html>
<html>
  <head>
    <title>Firma1c</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "about", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "card", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "crown", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "customers", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "damage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "described", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "description", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "disclaimer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "footer", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "how", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "jaw", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "portfolio", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "questions", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "send", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "services", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "standart", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "statistics", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "null", "data-turbo-track": "reload" %>
    

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/unconditional/jquery-table2excel/master/src/jquery.table2excel.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </head>

  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

          <li class="nav-item dropdown">
          <p class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Бухгалтерия
          </p>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/payments">Касса</a></li>
            <li><a class="dropdown-item" href="/capital">Капитал</a></li>
            <li><a class="dropdown-item" href="/diaries">Дневник</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <p class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Сущности
          </p>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/locations">Объекты</a></li>
            <li><a class="dropdown-item" href="/instruments">Инстурменты</a></li>
            <li><a class="dropdown-item" href="/transports">Транспорт</a></li>
          </ul>
        </li>

         <li class="nav-item dropdown">
          <p class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Люди
          </p>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/workers">Работники</a></li>
            <li><a class="dropdown-item" href="/customers">Закзачики</a></li>
            <li><a class="dropdown-item" href="/suppliers">Поставщики</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logs">Логи</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/portfolio_gallery">Портфолио</a>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><%= current_user.email %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/sign_out">Выйти из системы</a>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link active" %>

          </li>
        <% end %>



      </ul>
    </div>
    </div>
    </nav>
  <% else %>
    
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>

<style type="text/css">
  .kartochka {
    border: 2px;
    border-radius: 12px;
    padding: 5px;
    background-color: #d1e7dd;
  }

  .not-show{
    border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
  }

  .image {
    float: left;
    height: 200px;
    width: 300px;
    margin: 1%;
    display: block;
    
  }

  .embed {
    height: 70px;
    width: 70px;
  }
</style>

